/*-------------------------
   Brand
-------------------------*/
.brand-wrap-area {
    padding: 90px 0;
}

.brand-grid {
    padding: 10px 0;
    text-align: center;
    
}

.brand-name {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    margin-top: 3px;
   
}

.brand-grid img {
    border-radius: 17px;
    transition: var(--transition);
    width: 75%;
}